:root {
  --primary-color: #a67c00;
  --secondary-color: #bf9b30;
  --third-color: #ffbf00;
  --fourth-color: #ffcf40;
  --fifth-color: #ffdc73;
  --sixth-color: #fff;
  --seventh-color: #000;
  --font-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
}

body {
  background-image: url(/assets/img/fundo.jpg);
  background-size: cover;
  height: 100vh;
}

/*styled header*/

.bg-color {
  background-color: var(--fifth-color) !important;
  overflow: hidden;
}

.color-btn {
  border-color: var(--seventh-color) !important;
  background-color: var(--sixth-color) !important;
  color: #000 !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-btn:hover {
  background-color: var(--primary-color) !important;
  color: var(--font-color) !important;
}

.navbar-brand img {
  width: 120px;
  border-radius: 1rem;
}

.div-ul {
  margin-left: 3rem;
}

div ul li a:hover {
  background-color: var(--primary-color) !important;
  text-decoration: underline;
  transform: translateX(5%);
  color: var(--font-color) !important;
  border-radius: 0.4rem;
  transition: all 0.5s ease;
}

/*Main elements and carousel*/

.carousel-image {
  height: 500px;
  object-fit: cover;
  object-position: center;
  background-image: cover !important;
}

/*styled footer*/
